<div class="timeline-container">
  <small class="open-label">{{openLabel | day-time}}</small>
  <div class="timeline" js-role="draggable-timeline">
    <div v-for="(idx, timeSlot) in timeSlots" class="timeslot-cell"
         v-bind:class="{'scheduled-slot': showScheduledSlot(timeSlot), 'unavail-slot': showUnavailSlot(timeSlot)}"
         data-idx="{{idx}}">
         <div v-if="timeSlot.shiftStarts" class="marker below">
           <div><i class="fa fa-angle-up fa-2x"></i></div>
           <div class="label">{{timeSlot.label}}</div>
         </div>
         <div v-if="!timeSlot.shiftStarts && timeSlot.shiftEnds" class="marker">
           <div class="label">{{timeSlot.endLabel}}</div>
           <div><i class="fa fa-angle-down fa-2x"></i></div>
         </div>
    </div>

  </div>
  <small class="close-label">{{closeLabel | day-time}}</small>

</div>
