.timeline-container {
  height: 100px;
  position: relative;
}
.timeline {
  width: 500px;
  padding: 0 important!;
  position: absolute;
  bottom: 40px;
  left: 0;
}
.timeslot-cell {
  float: left;
  height: 20px;
  position: relative;
  background-color: white;
  box-sizing: border-box;
  border-right: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  border-top: solid 1px #cccccc;
}
.timeslot-cell .marker {
  position: absolute;
  width: 80px;
  height: 40px;
  top: -40px;
  left: 50%;
  margin-left: -40px;
  text-align: center;
  cursor: move;
}
.timeslot-cell .marker.below {
  top: auto;
  bottom: -40px;
}
.timeslot-cell .marker.below .label {
  position: relative;
  top: -7px;
}
.timeslot-cell .marker .label {
  border: 1px solid #e8e8e8;
  border-radius: 7px;
  padding: 0px 3px;
}
.timeslot-cell .marker .fa {
  line-height: 15px;
}
.timeslot-cell.scheduled-slot {
  background-color: #6995f8;
}
.timeslot-cell.unavail-slot {
  background-color: #fe9f21;
}
.timeslot-cell.unavail-slot.scheduled-slot {
  background-color: #e65c5c;
}
.timeline-container .open-label {
  position: absolute;
  left: -13px;
  bottom: 61px;
}
.timeline-container .close-label {
  position: absolute;
  bottom: 25px;
  left: 450px;
}
