<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Labor Scheduler</title>

<link rel="stylesheet" type="text/css"
	href="/webapps/commons/libs/jQuery-ui/jquery-ui-1.10.4.custom.css" />
<link rel="stylesheet" type="text/css"
	href="/webapps/commons/libs/jquery-foodtec-ui/jquery.foodtec.ui.css" />
<link rel="stylesheet" type="text/css"
	href="/webapps/commons/libs/jquery-ui-timepicker/jquery.ui.timepicker.css" />
<link rel="stylesheet" type="text/css" href="main.css" />

<script type="text/javascript" src="/webfile?name=modernizr.js"></script>

<script type="text/javascript" src="/webapps/commons/libs/jquery.js"></script>
<script type="text/javascript" src="js/libs/jquery-migrate-1.2.1.min.js"></script>

<script type="text/javascript" src="js/Utils.js"></script>
<script type="text/javascript">
    scheduler.Utils.authIfRequired();
</script>

<!-- this enhances the schedule -global by a hash of release version -->
<script type="text/javascript">
    (function() {
	jQuery.ajax({
	    url : '/ws/webScheduler/findReleaseVersionHash',
	    async : false,
	    method : 'GET',
	    success : applyReleaseVersion,
	    error : console.log
	});

	function applyReleaseVersion(data) {
	    jQuery.extend(true, window, {
		scheduler : {
		    version : data.releaseVersion
		}
	    });
	}
    })();
</script>

<script type="text/javascript" src="/webapps/commons/libs/require.js"></script>
<script type="text/javascript" src="main.js"></script>

</head>
<body id="webschedulerApp">
	<div class="option-bar">

		<div class="departments-tabs"
			v-show="scheduleBy === 'Department' && departments.length > 0">
			<div v-for="department in departments" class="department"
				v-bind:class="{'selected': selectedDepartmentNumber === department.deptNumber}"
				v-on:click="handleDepartmentSelect(department)">
				<img width="16px" height="16px" v-bind:src="department.imageUrl">
				<span>{{department.name}}</span>
			</div>
		</div>

		<div class="settings">
			<div class="week-arrow left" title="go to previous"
				v-on:click="handleWeekArrowLeftClick"></div>
			<button id="weekButton">
				Week of <span class="week-display">{{weekDisplay}}</span>
			</button>
			<div class="week-arrow right" title="go to next"
				v-on:click="handleWeekArrowRightClick"></div>
			<select id="switchView" title="Schedule by">
				<option value="byEmployees">Employee</option>
				<option value="byRoles">Role</option>
			</select>
			<div class="datePicker"></div>
		</div>

		<button data-role="sendSms" class="sendSms"
			title="Sends SMS to scheduled employee in this week">Send
			SMS</button>

		<div class="actions">
			<div class="master-schedule">
				<button id="templateRestore"
					title="Overwrites the current week with a former saved schedule. Note: only days in future are changed!">Restore
					From Master</button>
				<button id="templateSave"
					title="Saves the current week as template, to use for restore.">Save
					as Master</button>
			</div>
			<div class="state-change">
				<!-- stateAction-buttons are rendered here  -->
			</div>
		</div>
	</div>
	<div class="table-header">
		<tableheader v-bind:schedule-state="scheduleState"
			v-bind:schedule-info="scheduleInfo" v-bind:helplink="helplink"
			v-bind:week="week" v-bind:departments="departments"
			v-bind:selected-department-number="selectedDepartmentNumber"
			v-bind:schedule-by="scheduleBy"
			v-on:audits-clicked="handleAuditsClicked"
			v-on:statistics-clicked="handleStatisticsClicked"></tableheader>
	</div>

	<!-- scheduler-table el for by-empls-view -->
	<div class="scheduler-wrapper by-empls">
		<table class="week-days-header">
			<!-- week-days are rendered here -->
		</table>
		<table class="scheduler">
			<!-- shift-columns and week-day header is rendered here -->
		</table>
		<table class="totals-footer">
			<!-- weekly-totals are rendered here -->
		</table>
		<div class="loading-overlay"></div>
	</div>

	<!-- scheduler-table el for by-roles-view -->
	<div class="scheduler-wrapper by-roles">
		<table class="week-days-header">
			<!-- week-days are rendered here -->
		</table>
		<table class="scheduler">
			<!-- shift-columns and week-day header is rendered here -->
		</table>
		<table class="totals-footer">
			<!-- weekly-totals are rendered here -->
		</table>
		<div class="loading-overlay"></div>
	</div>

	<script type="text/javascript"
		src="/webapps/commons/libs/jQuery-ui/jquery-ui-1.10.4.custom.min.js"></script>
	<script type="text/javascript"
		src="/webapps/commons/libs/jquery-foodtec-ui/jquery.foodtec.ui.js"></script>
	<script type="text/javascript"
		src="/webapps/commons/libs/jquery-ui-timepicker/jquery.ui.timepicker.js"></script>
	<script type="text/javascript"
		src="/webapps/commons/libs/jquery.parsequery.js"></script>
	<script type="text/javascript"
		src="/webapps/commons/libs/jquery.tinysort.min.js"></script>

	<script type="text/javascript">
	jQuery(function() {
	    require([ 'WebSchedulerController' ], function(WebSchedulerController) {
	        new WebSchedulerController();
	    });
        });
    </script>

	<!-- templates -->
	<script id="stateActionsTmpl" type="text/template">
	<% _.each(authorizedActions, function(action){ %>
	<button class="button-decor" data-action="<%- action.name %>" title="Changes state of schedule for the whole week"><%- action.displayName %></button>
	<% }); %>
	</script>

	<script id="overtimeWarnTmpl" type="text/template">
	<span><img src="images/warning.gif"/>Shift produces overtime of <span class="hours"><%- overtimeHours %>h</span></span>
	</script>


	<script id="weekDateTmpl" type="text/template">
	<td><div class="week-day" data-weekday="<%- date %>" ><%- name %></div></td>
    </script>

	<script id="calendarEventsTmpl" type="text/template">
	<td>
		<% _.each(calendarEvents, function(calendarEvent){ %>
		<div class="calendar-event" data-weekday="<%- weekDay %>"
			data-event="<%- calendarEvent.event %>" data-startdate="<%- calendarEvent.startDate %>">
			<i class="fa fa-times remove-icon" aria-hidden="true" title="click to delete" data-role="remove-event"></i>
			<i class="fa fa-calendar" aria-hidden="true"></i>
			<span class="event" title="<%- calendarEvent.event %>"><%- calendarEvent.event %></span>
		</div>
		<% }); %>
		<div class="event-creator" data-role="event-creator" data-weekday="<%- weekDay %>">click to create</div>
	</td>
    </script>

	<script id="weeklyTotalTmpl" type="text/template">
	<td><div class="weekly-total" data-weekday="<%- weekDay %>"><!-- totals are rendered here --></div></td>
    </script>

	<!-- this is for employee-column's resp. role-column's cells   -->
	<script id="navigationCellTmpl" type="text/template">
	<td data-name="<%- name %>" class="nav-cell name">
		<span><%- displayName %></span>
		<!-- rowTotalTmpl is rendered here -->
    </td>
    </script>

	<script id="rowTotalTmpl" type="text/template">
    <span class="row-total">
      (<span class="total" title="Total hours"><%- total %></span>
       <span class="overhours" title="Overtime hours"><%- overhours %></span>)
    </span>
	</script>

	<script id="shiftColumnTmpl" type="text/template">
    <td class="shifts" data-employee="<%- employeeName %>" data-role="<%- role %>" data-weekday="<%- weekDay %>">
	  <div class="positioner">
		<div class="day-hours">
			<!-- shiftCellTotalTmpl is rendered here -->
		</div>
		<div class="shift-creator">click to create</div>
      </div>
	</td>
    </script>

	<script id="shiftCellTotalTmpl" type="text/template">
	<span>
	   <span class="total" title="Total hours"><%- total %></span>
	   <span class="overhours" title="Overtime hours"><%- overhours %></span>
	</span>
    </script>

	<script id="shiftsBlockerTmpl" type="text/template">
	<div class="blocker"></div>
	</script>

	<!-- this shift template is intended for 'byEmployees-view' -->
	<script id="shiftTmpl" type="text/template">
    <div class="shift">
		<img class="role" width="16px" height="16px" title="<%- role.name %>" src="/Image?name=<%- role.image %>" />
        <span class="period" data-startime="<%- startTime %>">
		 <%- startTimeDispl %>
		 <% if(weeklyScheduleInRegularTimeFormat){ %> <br> <% } else{ %> - <% } %>
		 <%- endTimeDispl %>
		 <% if(note != undefined){ %> <br> <abbr class="shift-note"><%- note %></abbr> <% } %>
        </span>
        <div class="close-icon"></div>
	</div>
	</script>

	<!-- this shift template is intended for 'byRoles-view' -->
	<script id="byRolesShiftTmpl" type="text/template">
    <div class="shift">
		<div class="employee-name"><%- employee.displayName %></div>
        <span class="period" data-startime="<%- startTime %>">
		 <%- startTimeDispl %>
		 <% if(weeklyScheduleInRegularTimeFormat){ %> <br> <% } else{ %> - <% } %>
     <%- endTimeDispl %>
		 <% if(note != undefined){ %> <br> <abbr class="shift-note"><%- note %></abbr> <% } %>
        </span>
        <div class="close-icon"></div>
	</div>
	</script>

	<!-- popup -->
	<script id="errorPopupTmpl" type="text/template">
	<div class="error-popup">
	  <div class="header"><%- title || 'Some error happened' %></div>
	  <div class="content">
	   <span class="msg"><%- msg %></span>
	  </div>
	</div>
    </script>

	<!-- popup -->
	<script id="loginPopupTmpl" type="text/template">
	<div class="error-popup">
	  <div class="header">Login required</div>
	  <div class="content">
	   <span class="msg">The application requires login. Please use the link to login.
	   <a href="<%- loginUrl %>">login</a>
	   </span>
	  </div>
	</div>
    </script>

	<!-- popup -->
	<script id="skippedEmployeesTmpl" type="text/template">
    <div class="skipped-empl popup">
	  <div class="header">Info: Save as Master</div>
	  <div class="content">
	   <span class="msg">The following list of employees has been skipped because they are terminated.</span>
	   <ul class="employee-list">
	   <% _.each(employees, function(employee){ %>
		  <li><%- employee.displayName %></li>
       <% }); %>
	   </ul>
	  </div>
	</div>
    </script>

	<!-- popup -->
	<script id="overwriteIssuesTmpl" type="text/template">
    <div class="overwrite-issues popup">
	  <div class="header">Override</div>
	  <div class="content">
	   	<ul class="issues-list">
	   	<% _.each(validationIssues, function(validationIssue){ %>
		  <li><%- validationIssue.errorMsg %></li>
       	<% }); %>
	   	</ul>
		<div class="button-bar">
			<button class="overwrite button-decor" title="Click to override the issues">Override</button>
			<button class="cancel button-decor">Cancel</button>
		</div>
	  </div>
	</div>
    </script>

	<!-- popup -->
	<script id="outdatedScheduleTmpl" type="text/template">
    <div class="outdated-schedule popup">
	  <div class="header">Schedule is out of date</div>
	  <div class="content">
	   	<span class="msg">You need to reload the scheduler in order to perform the operation.</span>
		<div class="button-bar">
			<button class="reload button-decor" title="Click to reload">Reload</button>
		</div>
	  </div>
	</div>
    </script>

</body>
</html>
