/* status colors */
/* dialogs */
/* gantt-chart colors */
/* status colors */
/* dialogs */
/* gantt-chart colors */
.scheduler-wrapper {
  position: relative;
  z-index: 0;
}
.scheduler,
.week-days-header,
.totals-footer {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  z-index: 1;
}
.scheduler {
  z-index: 0;
}
.week-days-header.fixed,
.totals-footer.fixed {
  position: fixed;
  top: 0px;
  min-width: 1024px;
}
.week-days-header .week-day:hover {
  text-decoration: underline;
  cursor: pointer;
}
.totals-footer.fixed {
  top: auto;
  bottom: 0px;
}
.scheduler tr {
  height: 100%;
}
.scheduler tr td {
  border: 1px solid #c8c8c8;
  overflow: hidden;
  height: 100%;
}
.scheduler tr td.nav-cell.name,
.week-days-header tr td:first-child {
  border: 1px solid #c8c8c8;
  overflow: hidden;
  padding: 20px 6px;
  text-align: center;
}
.scheduler tr td.nav-cell.name > span {
  white-space: nowrap;
}
.scheduler td.nav-cell.name .overhours {
  display: none;
}
.scheduler td.nav-cell.name .total {
  display: inline-block;
  padding-left: 3px;
  visibility: hidden;
}
.scheduler tr:hover td:first-child {
  font-weight: bold;
}
.week-days-header tr.days td,
.totals-footer td,
.scheduler tr.days td {
  background-image: linear-gradient(to bottom, #e9e9e9, #d7d7d7);
  background-image: -o-linear-gradient(top, #e9e9e9, #d7d7d7);
  background-image: -ms-linear-gradient(top, #e9e9e9, #d7d7d7);
  background-image: -webkit-linear-gradient(top, #e9e9e9, #d7d7d7);
  background-color: #e9e9e9;
  border: 1px solid #929292;
  box-shadow: 0 3px 1px -1px #ffffff inset;
  text-align: center;
  color: #2351a6;
  font-weight: bold;
}
.totals-footer td {
  padding: 3px 0px;
  border-top-width: 2px;
}
.scheduler-wrapper .shifts {
  font-size: 13px;
  padding: 0px;
  vertical-align: top;
}
.scheduler-wrapper .shifts .positioner {
  position: relative;
  height: 100%;
  z-index: 0;
}
.scheduler-wrapper .shifts.disabled {
  background-color: #a3a3a3;
  text-align: center;
  vertical-align: middle;
}
.scheduler-wrapper .shifts.disabled .info {
  color: #999999;
  font-size: 25px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  height: 29px;
}
.scheduler-wrapper .shifts .day-hours {
  text-align: right;
  visibility: hidden;
}
.scheduler-wrapper .shifts .blocker {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
  background: #8eb0f7;
  opacity: 0.8;
}
.scheduler-wrapper .overhours {
  color: #f2883a;
}
.scheduler tr:hover .shifts .day-hours {
  font-weight: bold;
}
.scheduler-wrapper .shifts .day-hours > span {
  background-image: linear-gradient(to bottom, #f0f0f0, #e8e8e8);
  background-image: -o-linear-gradient(top, #f0f0f0, #e8e8e8);
  background-image: -ms-linear-gradient(top, #f0f0f0, #e8e8e8);
  background-image: -webkit-linear-gradient(top, #f0f0f0, #e8e8e8);
  background-color: #f0f0f0;
  box-shadow: 0px 2px 0px 0px #acacac, inset 1px -1px 0px 0px #f3f3f3;
  border: 1px solid #e3e3e3;
  padding-left: 5px;
}
.scheduler-wrapper .shifts .day-hours .overhours {
  display: none;
}
.scheduler-wrapper .shift {
  position: relative;
  background-color: #FFDE9E;
  border-radius: 11px 11px 11px 11px;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3) inset, 0 3px 3px 0 #000000;
  display: inline-block;
  font-weight: bold;
  margin: 5px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  cursor: move;
}
.scheduler-wrapper .shift .employee-name {
  font-style: italic;
  font-size: 12px;
}
.scheduler-wrapper .shift.not-modif {
  cursor: default;
}
.scheduler-wrapper .shift.error {
  background-color: #ff6022;
}
.scheduler-wrapper .shift.warning {
  background-color: #ff9933;
}
.scheduler-wrapper .shift.error,
.scheduler-wrapper .shift.warning {
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3) inset, 0 3px 3px 0 #000000;
  color: #606060;
}
.scheduler-wrapper .shift.error:hover,
.scheduler-wrapper .shift.warning:hover {
  color: #707070;
}
.scheduler-wrapper .shift.active {
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 3px 0 #000000;
  opacity: 0.5;
}
.scheduler-wrapper .shifts .shift-creator {
  cursor: pointer;
  border-radius: 11px 11px 11px 11px;
  color: gray;
  background-color: white;
  box-shadow: none;
  border: 1px gray dashed;
  display: inline-block;
  visibility: hidden;
  font-weight: bold;
  height: 16px;
  margin: 5px;
  padding: 3px 10px;
  width: 100px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.8s 0s;
  -webkit-transition: opacity 0.8s 0s;
}
.scheduler-wrapper .shifts:hover .shift-creator {
  display: inline-block;
  visibility: visible;
  opacity: 1;
}
.scheduler-wrapper .shifts.not-modif:hover .shift-creator {
  visibility: hidden;
  opacity: 0;
}
.scheduler .drop-accept {
  /* 	box-shadow: 0 0 5px 0px #6E6E6E inset; */
  background-color: #8eb0f7;
}
.scheduler-wrapper .shift .period {
  cursor: pointer;
}
.scheduler-wrapper .shift .period:hover {
  text-decoration: underline;
  color: grey;
}
.scheduler-wrapper .shift .close-icon {
  bottom: 0;
  height: 12px;
  margin: auto;
  position: absolute;
  right: 8px;
  top: 0;
  width: 12px;
  cursor: pointer;
  display: none;
  background-image: url("../../images/close_icon_sprite.png");
  background-position: 0px -12px;
}
.scheduler-wrapper .shift.error .close-icon {
  background-position: 0px 0px;
}
.scheduler-wrapper .shift:hover .close-icon {
  display: inline-block;
}
.scheduler-wrapper .shift.not-modif:hover .close-icon {
  display: none;
}
.scheduler-wrapper .shift .role {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 5px;
  margin: auto;
  cursor: default;
}
@keyframes loading {
  0% {
    background: #8eb0f7;
  }
  50% {
    background: #6696f8;
  }
  100% {
    background: #8eb0f7;
  }
}
@-webkit-keyframes loading {
  0% {
    background: #8eb0f7;
  }
  50% {
    background: #6696f8;
  }
  100% {
    background: #8eb0f7;
  }
}
.scheduler-wrapper .loading-overlay {
  position: relative;
  z-index: 2;
  background: blue;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0.5;
  animation: loading 2s infinite;
  -webkit-animation: loading 2s infinite;
  /* Safari and Chrome */
  display: none;
}
.scheduler-wrapper .loading-overlay:before {
  content: "Loading ...";
  font-size: 50px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
  text-align: center;
  color: black;
}
/* overwrite popup */
.overwrite-issues.popup .issues-list {
  overflow-y: auto;
  height: 85px;
  margin-right: 10px;
}
.overwrite-issues.popup .button-bar {
  text-align: right;
  padding: 5px 10px 0px 0px;
}
.overwrite-issues.popup button {
  font-weight: bold;
}
.overwrite-issues.popup .overwrite {
  background-image: linear-gradient(to bottom, #2de70b, #2d790b);
  background-image: -o-linear-gradient(top, #2de70b, #2d790b);
  background-image: -ms-linear-gradient(top, #2de70b, #2d790b);
  background-image: -webkit-linear-gradient(top, #2de70b, #2d790b);
  background-color: #2de70b;
  color: white;
}
.table-decor .fixed-cells .content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
