.dialog-decor-wrapper.statistics {
  position: absolute;
}
.statistics.popup .content {
  padding: 0px 20px 0px 20px;
}
.statistics.popup .week {
  text-align: center;
  color: #2b5ca1;
  font-size: 20px;
  padding: 10px 0px 20px 0px;
  position: relative;
  z-index: 1;
}
.statistics.popup .statistics.container.loading:before {
  content: '';
  background-image: url("../../images/loading.gif");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.statistics.popup .statistics.container {
  padding: 20px 20px 0px 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
}
.statistics.popup .table-container {
  padding-bottom: 30px;
}
.statistics.popup .tableCell .content {
  border-radius: 0px;
  padding: 0;
  text-align: center;
}
.statistics.popup .fixed-cells .tableCell .content,
.statistics.popup .fixed-columns .tableCell .content,
.statistics.popup .fixed-footer-cells .tableCell .content {
  text-align: left;
  padding: 5px 0px 5px 5px;
}
.statistics.popup .all-columns .tableCell .content {
  padding-top: 5px;
}
.statistics.popup .cells .tableCell .content {
  color: #8d8d8d;
  font-style: italic;
  padding: 5px 0px;
}
.statistics.popup .footers .tableCell .content {
  padding: 5px 0px;
}
.statistics.popup .all-columns .tableCell .content,
.statistics.popup .footers .tableCell .content,
.statistics.popup .fixed-footer-cells .tableCell .content {
  background-image: linear-gradient(to bottom, #cfcfcf, #bebebe);
  background-image: -o-linear-gradient(top, #cfcfcf, #bebebe);
  background-image: -ms-linear-gradient(top, #cfcfcf, #bebebe);
  background-image: -webkit-linear-gradient(top, #cfcfcf, #bebebe);
  background-color: #cfcfcf;
}
.statistics.popup .big-figures {
  text-align: center;
  padding: 5px 0px;
}
.statistics.popup .big-figures > div {
  background-image: linear-gradient(to bottom, #8caef8, #6995f8);
  background-image: -o-linear-gradient(top, #8caef8, #6995f8);
  background-image: -ms-linear-gradient(top, #8caef8, #6995f8);
  background-image: -webkit-linear-gradient(top, #8caef8, #6995f8);
  background-color: #8caef8;
  border-radius: 25px;
  box-shadow: 0 2px 7px 0 #000000, 0 1px 0 0 #FFFFFF inset;
  color: white;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  width: 22%;
  overflow: hidden;
  white-space: nowrap;
}
.statistics.popup .week > span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.statistics.popup .week .previous,
.statistics.popup .week .next {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  margin: 0 15px;
}
.statistics.popup .week .datePicker {
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -140px;
  font-size: 15px;
}
