<div class="posting-dialog">
	<div class="header">
		Posting Weekly Schedule
	</div>
	<div class="content">
		<div class="message">
			<% if(scheduleBy === 'Department' && nonScheduledDepartment.length > 0){ %>
			The following departments are not scheduled:<br>
			<div class="not-scheduled-entity">
				<div><%- nonScheduledDepartment.join(', ') %></div>
			</div>
			<% } else if(_.contains(['All', 'Role'], scheduleBy) && nonScheduledRoles.length > 0){ %>
			The following roles are not scheduled:<br>
			<div class="not-scheduled-entity">
				<div><%- nonScheduledRoles.join(', ') %></div>
			</div>
			<% } %>
			<span class="warning">Is this schedule complete for the whole week and all departments?</span><br><br>
			Once you POST, nobody will be able to edit it until it gets approved or rejected.			
		</div>
		<div class="button-bar">
			<button data-role="confirm-post" class="confirm-post button-decor">Ok</button>
			<button data-role="cancel" class="cancel button-decor">Cancel</button>
		</div>
	</div>
</div>